/*colour palette*/
$green: #004f42;
$purple: #754d78;
$white: #f7f8f7;
$grey: #b0bdb0;
$palePurple: #bdb0bd;

/*fonts*/
/*Use Cinzel for Headings and Raleway for body text*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

@mixin breakpoint($point) {
	@if $point == mobileview {
		@media (max-width: 639px) {
			@content;
		}
	}
	@if $point == mobiletablet {
		@media (max-width: 900px) {
			@content;
		}
	}
	@if $point == tabletview {
		@media (min-width: 640px) and (max-width: 900px) {
			@content;
		}
	}
	@if $point == desktopview {
		@media (min-width: 901px) {
			@content;
		}
	}
}

* {
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $white;
	font-family: "Raleway", sans-serif;
	color: $green;
	line-height: 40px;
	font-weight: 400;
	text-align: center;
}

.location {
	height: 30vh;
	width: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.temperature {
	height: 30vh;
	width: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.degreeSection {
	display: flex;
	align-items: center;
	cursor: pointer;

	span {
		margin: 10px;
		font-size: 30px;
	}

	h2 {
		font-size: 40px;
	}
}

.socialContainer {
	padding: 25px 50px;
}

a {
	&.social {
		margin: 0 1rem;
		transition: transform 250ms;
		display: inline-block;

		&:hover {
			transform: translateY(-2px);
		}
	}

	&.youtube {
		color: #eb3223;
	}

	&.facebook {
		color: #4968ad;
	}

	&.twitter {
		color: #49a1eb;
	}

	&.instagram {
		color: black;
	}
}
button {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.1em 0.1em 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	color: white;
	background-color: $purple;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	text-align: center;
	transition: all 0.2s;
	&:hover {
		cursor: pointer;
		border-color: rgba(255, 255, 255, 1);
	}
}
.contactContainer {
	&:nth-of-type(1n + 0) {
		background-color: $green;
		color: $white;
	}
	&:nth-of-type(2n + 0) {
		background-color: $purple;
		color: $white;
	}
	&:nth-of-type(3n + 0) {
		background-color: $grey;
		color: $white;
	}
	&:hover {
		cursor: pointer;
		color: #000000;
		background-color: #ffffff;
	}
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #ffffff;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	transition: all 0.2s;
	@include breakpoint(mobileview) {
		width: 95%;
		font-size: 1.5em;
		padding-top: 20px;
	}
}
.logoHorizontal {
	width: 30vw;
	height: auto;
	display: flex;
	justify-content: flex-start;
}
//FORM SASS

form {
	border-radius: 5px;
	max-width: 700px;
	width: 100%;
	margin: 5% auto;
	background-color: $white;
	overflow: hidden;
	&:focus {
		border: 1px solid $purple;
	}
}
input,
textarea {
	border-radius: 0px 5px 5px 0px;
	border: 1px solid #eee;
	margin-bottom: 15px;
	width: 85%;
	height: 40px;
	padding: 0;
	margin: 0;
}
.icon {
	width: 50px;
	float: left;
	border-radius: 5px 0px 0px 5px;
	background-color: $grey;
	margin-left: 20px;
	height: 42px;
	position: relative;
	text-align: center;
	line-height: 40px;
}
.buttonContact {
	background-color: $purple;
	color: #fff;
	text-align: center;
	width: 100%;
	border: 0;
	padding: 17px 25px;
	border-radius: 0px 0px 5px 5px;
	cursor: pointer;
	margin-top: 40px;
	font-size: 18px;
}

// YOUR TOUR PAGE

.driverGuide {
	width: 30vw;
}

//COUNTDOWN
.countdownContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
}
.countdownItem {
	color: #111;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: 30px;
	margin: 10px;
	padding-top: 10px;
	position: relative;
	width: 100px;
	height: 100px;
}
.countdownItem span {
	color: #333;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}
.countdownHeader {
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}
.countdownSVG {
	position: absolute;
	top: 0;
	left: 0;
	// width: 150px;
	// height: 150px;
}
//WEATHER

.cards {
	text-align: center;
	color: $green;
	border-radius: 10px;
	width: 75%;
	margin: auto;
	background-color: lightgray;
	display: flex;
	justify-content: space-around;
	box-shadow: 0 2px 30px rgba(black, 0.2);
	margin-bottom: 10px;
	padding: 10px;
	@include breakpoint(mobiletablet) {
		display: block;
	}
}

.forecastContainer {
	display: inline-block;
	position: relative;
	box-sizing: content-box;
	width: 15vw;
	height: 30vh;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	min-width: 200px;
	min-height: 350px;
	box-shadow: 0 2px 30px rgba(black, 0.2);
	background-color: lightgray;
	@include breakpoint(mobileview) {
		min-width: 100px;
		min-height: 100px;
	}
}
.forecastItem {
	font-size: 30px;
	font-weight: 400;
	margin-top: 30px;
	text-align: center;
	@include breakpoint(mobileview) {
		font-size: 1em;
		font-weight: 500;
		margin-top: 10px;
	}
}
.feelsLikeForecast {
	font-size: 20px;
	text-align: center;
	@include breakpoint(mobileview) {
		font-size: 0.9em;
	}
}
.forecastImage {
	display: flex;
	margin: auto;
}
.cityNameDiv {
	text-align: center;
}
//SIGN IN PAGE
.signIn {
	padding: 40px;
	text-align: center;
}
.signIn input[type="text"],
.signIn input[type="email"] {
	border: none;
	display: block;
	background: none;
	margin: 20px auto;
	text-align: center;
	border: 2px solid $purple;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 20px;
	transition: 0.25s;
	&:focus {
		width: 280px;
		border-color: #3498db;
	}
}
.signInButton {
	border: 0;
	margin: 20px auto;
	text-align: center;
	border: 2px solid $purple;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 20px;
	transition: 0.25s;
	cursor: pointer;
	position: relative;
}
.signInProblem {
	font-size: small;
	text-decoration: none;
	color: black;
	&:hover {
		font-weight: 700;
	}
}
//NAVBAR

.noBurger {
	display: none;
}
@media (min-width: 900px) {
	.noBurger {
		display: unset;
	}
	.hamburger {
		display: none;
	}
}
.noBurgerNav {
	background-color: $green;
	border: 1px solid $green;
	border-radius: 0px 0px 10px 10px;
	width: 75vw;
	margin: auto;
	display: flex;
	flex-flow: nowrap row;
	justify-content: space-evenly;
	ul li {
		display: inline;
		cursor: pointer;
		text-decoration: underline 0.1em rgba(255, 255, 255, 0);
		transition: text-decoration-color 300ms;
		padding: 15px;
		font-size: 1.8em;
		width: 100%;
		color: white;
		&:hover {
			text-decoration-color: rgba(255, 255, 255, 1);
		}
	}
}

.burgerNav {
	display: block;
	position: relative;
	padding: 10px;
	background-color: $grey;
}
.burgerNav ul li {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 1.8em;
	text-decoration: none;
	line-height: 80px;
	list-style-type: none;
	&:hover {
		background: $palePurple;
		color: white;
	}
}
.faBars {
	display: block;
	margin: 20px;
}
.transparentLogo {
	display: flex;
	width: 100px;
	height: 100px;
	flex-wrap: nowrap;
}
//FOOTER
.footerContainer {
	display: flex;
	justify-content: center;
	flex-flow: row;
	padding: 10px;
}
.footerSpan {
	display: flex;
	justify-content: space-around;
	flex-flow: row nowrap;
	margin: 10px;
	h6 {
		padding: 10px;
	}
}

//LOADING SPINNER
.spinner {
	display: flex;
	align-items: center;
	justify-content: center;
}

//HOMEPAGE

//homepage
.dashboardImage {
	max-width: 100vw;
	margin: auto;
	@include breakpoint(mobiletablet) {
		display: none;
	}
}
.dashboardImgMobile {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	width: 75vw;
	@include breakpoint(desktopview) {
		display: none;
	}
}
.translations {
	@include breakpoint(desktopview) {
		display: flex;
		justify-content: center;
		flex-flow: row nowrap;
		margin: 10px;
		padding: 0;
	}
}
.homepageCardContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 10px;
}
.homepageCard {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	border: 1px solid gray;
	border-radius: 15px;
	padding: 20px;
	height: 35%;
	width: 35%;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	box-shadow: 0 2px 30px rgba(black, 0.2);

	@include breakpoint(mobiletablet) {
		display: flex;
		flex-flow: column nowrap;
		height: 80%;
		width: 80%;
		margin-bottom: 10px;
		h3 {
			font-size: 1.5em;
		}
		button {
			width: 50%;
			height: 50px;
			font-size: 1.1em;
		}
	}
	button {
		&:hover {
			background-color: $white;
			border: 2px solid $purple;
			color: black;
		}
	}
}
