/*colour palette*/
$green: #004f42;
$purple: #754d78;
$white: #f7f8f7;
$grey: #b0bdb0;

/*fonts*/
/*Use Cinzel for Headings and Raleway for body text*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

@mixin breakpoint($point) {
	@if $point == mobileview {
		@media (max-width: 639px) {
			@content;
		}
	}
	@if $point == tabletview {
		@media (min-width: 640px) and (max-width: 900px) {
			@content;
		}
	}
	@if $point == desktopview {
		@media (min-width: 901px) {
			@content;
		}
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $white;
	font-family: "Raleway", sans-serif;
	color: $green;
	line-height: 40px;
	font-weight: 400;
	text-align: left;
}

.location {
	height: 30vh;
	width: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.temperature {
	height: 30vh;
	width: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.degreeSection {
	display: flex;
	align-items: center;
	cursor: pointer;

	span {
		margin: 10px;
		font-size: 30px;
	}

	h2 {
		font-size: 40px;
	}
}

.socialContainer {
	padding: 25px 50px;
}

a {
	&.social {
		margin: 0 1rem;
		transition: transform 250ms;
		display: inline-block;

		&:hover {
			transform: translateY(-2px);
		}
	}

	&.youtube {
		color: #eb3223;
	}

	&.facebook {
		color: #4968ad;
	}

	&.twitter {
		color: #49a1eb;
	}

	&.instagram {
		color: black;
	}
}
button {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.1em 0.1em 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	color: white;
	background-color: $purple;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	text-align: center;
	transition: all 0.2s;
	&:hover {
		cursor: pointer;
		border-color: rgba(255, 255, 255, 1);
	}
}
.contactContainer {
	&:nth-of-type(1n + 0) {
		background-color: $green;
		color: $white;
	}
	&:nth-of-type(2n + 0) {
		background-color: $purple;
		color: $white;
	}
	&:nth-of-type(3n + 0) {
		background-color: $grey;
		color: $white;
	}
	&:hover {
		cursor: pointer;
		color: #000000;
		background-color: #ffffff;
	}
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #ffffff;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	transition: all 0.2s;
}
.logoHorizontal {
	width: 30vw;
	height: auto;
	display: flex;
	justify-content: flex-start;
}
//FORM SASS

form {
	border-radius: 5px;
	max-width: 700px;
	width: 100%;
	margin: 5% auto;
	background-color: #ffffff;
	overflow: hidden;
	&:focus {
		border: 1px solid $purple;
	}
}
input {
	border-radius: 0px 5px 5px 0px;
	border: 1px solid #eee;
	margin-bottom: 15px;
	width: 75%;
	height: 40px;
	padding: 0px 15px;
}
.icon {
	width: 35px;
	float: left;
	border-radius: 5px 0px 0px 5px;
	background: #eeeeee;
	height: 42px;
	position: relative;
	text-align: center;
	line-height: 40px;
}
.buttonContact {
	background-color: $purple;
	color: #fff;
	text-align: center;
	width: 100%;
	border: 0;
	padding: 17px 25px;
	border-radius: 0px 0px 5px 5px;
	cursor: pointer;
	margin-top: 40px;
	font-size: 18px;
}

//NAVBAR
.menu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	width: 100vw;
	color: white;
	background-color: $green;
	overflow: hidden;
}
.menuItem {
	display: flex;
	flex-flow: row nowrap;
	color: white;
	font-size: 1.7rem;
	font-weight: 500;
	padding: 10px;
	transition: transform 250ms;
	&:hover {
		cursor: pointer;
		transform: translateY(-2px);
	}
}
//homepage
.dashboardImage {
	display: flex;
	flex-flow: column;
	max-width: 50vw;
	justify-content: space-evenly;
	@include breakpoint(desktopview) {
		max-width: 25vw;
	}
	@include breakpoint(mobileview) {
		max-width: 90vw;
	}
}
.dashboardButton {
	max-width: 20vw;
	flex-flow: row nowrap;
	justify-content: center;
}
// YOUR TOUR PAGE

.driverGuide {
	width: 30vw;
}
.yourTourInfo {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
//COUNTDOWN
.countdownContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
}
.countdownItem {
	color: #111;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: 30px;
	margin: 10px;
	padding-top: 10px;
	position: relative;
	width: 100px;
	height: 100px;
}
.countdownItem span {
	color: #333;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}
.countdownHeader {
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}
.countdownSVG {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
}
//WEATHER
.forecastContainer {
	display: flex;
	align-items: center;
	justify-content: center;

	flex-wrap: wrap;
	margin: 20px;
}
.forecastItem {
	font-size: 30px;
	font-weight: 400;
	width: 200px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 15px;
	background-color: $grey;
	&:hover {
		border: 1px solid $purple;
	}
}
.feelsLikeForecast {
	font-size: 20px;
}
