/*colour palette*/
$green: #004f42;
$purple: #754d78;
$white: #f7f8f7;
$grey: #b0bdb0;

/*fonts*/
/*Use Cinzel for Headings and Raleway for body text*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

@mixin breakpoint($point) {
	@if $point == mobileview {
		@media (max-width: 639px) {
			@content;
		}
	}
	@if $point == tabletview {
		@media (min-width: 640px) and (max-width: 900px) {
			@content;
		}
	}
	@if $point == desktopview {
		@media (min-width: 901px) {
			@content;
		}
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: $white;
	font-family: "Raleway", sans-serif;
	color: $green;
	line-height: 40px;
	font-weight: 400;
	text-align: left;
}

.location {
	height: 30vh;
	width: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.temperature {
	height: 30vh;
	width: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.degreeSection {
	display: flex;
	align-items: center;
	cursor: pointer;

	span {
		margin: 10px;
		font-size: 30px;
	}

	h2 {
		font-size: 40px;
	}
}

.socialContainer {
	padding: 25px 50px;
}

a {
	&.social {
		margin: 0 1rem;
		transition: transform 250ms;
		display: inline-block;

		&:hover {
			transform: translateY(-2px);
		}
	}

	&.youtube {
		color: #eb3223;
	}

	&.facebook {
		color: #4968ad;
	}

	&.twitter {
		color: #49a1eb;
	}

	&.instagram {
		color: black;
	}
}
button {
	background-color: $green;
	border-radius: 25px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 16px;
	color: $grey;
	&:hover {
		cursor: pointer;
	}
}
.contactContainer {
	&:nth-of-type(1n + 0) {
		background-color: $green;
		color: $white;
	}
	&:nth-of-type(2n + 0) {
		background-color: $purple;
		color: $white;
	}
	&:nth-of-type(3n + 0) {
		background-color: $grey;
		color: $white;
	}
	width: 40vw;
	height: auto;
	border-radius: 7px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 25px;
	margin-top: 10px;
	justify-content: center;
}
